@import "tailwindcss";

@layer utilities {
  .app-text {
    @apply text-woodsmoke-700 dark:text-woodsmoke-200;
  }

  .app-bg {
    @apply !bg-woodsmoke-100 dark:!bg-woodsmoke-900;
  }

  .app-bg-darker {
    @apply !bg-woodsmoke-200 dark:!bg-woodsmoke-950;
  }

  .app-fill {
    @apply fill-woodsmoke-700 dark:fill-woodsmoke-200;
  }

  .transition-c-200 {
    @apply transition-colors duration-200;
  }
}
