@import "tailwindcss";
@import "react-photo-view/dist/react-photo-view.css";

* {
  box-sizing: border-box;
}

@theme {
  --color-cop-1: #191919;
  --color-cop-2: #1e1e1e;
  --color-cop-3: #030303;
  --color-cop-4: #0a0a0a;
  --color-cop-5: #191d29;
  --color-cop-6: #0c101c;
  --color-cop-7: #505b7b;
  --color-cop-8: #424b68;
  --color-cop-9: #282f42;
  --color-cop-10: #1e2334;
}

html,
body {
  font-size: 16px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/**
 * Modal styles
 */
.rename-chat-modal .ant-modal-content {
  @apply bg-cop-2 text-white;
}
.rename-chat-modal .ant-modal-title {
  @apply bg-cop-2 text-white;
}
.rename-chat-modal .ant-modal-footer {
  @apply bg-cop-2 text-white;
}
.rename-chat-modal .ant-modal-close-x {
  @apply text-white;
}
