@import "tailwindcss";
@import "./styles/tailwind-utilities.css";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
}

html {
  height: 100dvh;
}

body,
#root {
  min-height: 100dvh;
}

.scroll-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@theme {
  --color-woodsmoke-50: #f5f6f6;
  --color-woodsmoke-100: #e5e8e7;
  --color-woodsmoke-200: #ced3d2;
  --color-woodsmoke-300: #abb5b3;
  --color-woodsmoke-400: #818f8d;
  --color-woodsmoke-500: #667472;
  --color-woodsmoke-600: #576363;
  --color-woodsmoke-700: #4b5353;
  --color-woodsmoke-800: #242729;
  --color-woodsmoke-900: #191B1C;
  --color-woodsmoke-950: #121414;
}

/**
 * Modal styles
 */
.generic-modal .ant-modal-content,
.rename-chat-modal .ant-modal-content,
.chat-configuration-modal .ant-modal-content {
  @apply dark:bg-gray-800 text-gray-700 dark:text-gray-200;
}
.generic-modal .ant-modal-content,
.rename-chat-modal .ant-modal-title,
.chat-configuration-modal .ant-modal-title {
  @apply dark:bg-gray-800 text-gray-700 dark:text-gray-200;
}
.generic-modal .ant-modal-content,
.rename-chat-modal .ant-modal-footer,
.chat-configuration-modal .ant-modal-footer {
  @apply dark:bg-gray-800 text-gray-700 dark:text-gray-200;
}
.generic-modal .ant-modal-content,
.rename-chat-modal .ant-modal-close-x,
.chat-configuration-modal .ant-modal-close-x {
  @apply text-gray-700 dark:text-gray-200;
}
